.projects{
    width: 100%;
    min-height: 80vh;
    background-color: #151111;
    color: white;
}

.project{
    font-family: 'Quantico', sans-serif;
    /*height: 300px;*/
    transition: all 7s;
    color: white;
    border: 0.5px solid #151111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: grab;
}

.p-box{
    margin: 20px;
    transition: all 6s;
    background-color: red;
}

.p-box-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.p-box-content{
    background-color: skyblue;
    overflow: hidden;
    transition: all 1s;
    display: flex;
    flex-direction: column;
}


